<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Book Course #<%= @book_course.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Course</dt>
              <dd><%= @book_course.course_id %></dd>

              <dt>Book</dt>
              <dd><%= @book_course.book_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/book_courses" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/book_courses/<%= @book_course.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_book_course/<%= @book_course.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
