<table class="table">
	<col width="20%">
	<col width="20%">
	<col width="20%">
	<col width="20%">
	<col width="20%">
	<tr class="info">
		<th>Title<span class="right_aligned_span"><a data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><i class="fa fa-chevron-down"></i></a></span></th>
		<th>Author(s)<span class="right_aligned_span"><a data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"> <i class="fa fa-chevron-down"></i></a></span></th>
		<th>Professor(s)<span class="right_aligned_span"><a data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"> <i class="fa fa-chevron-down"></i></a></span></th>
		<th>Course(s)<span class="right_aligned_span"><a data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"> <i class="fa fa-chevron-down"></i></a></span></th>
		<th>Department(s)<span class="right_aligned_span"><a data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"> <i class="fa fa-chevron-down"></i></a></span></th>
	</tr>
	<tr class="collapse info" id="collapseSearch">
	<%= search_form_for @q, url: "/books/table" do |f| %>
		<th><%= f.text_field :title_cont, :class => "form-control", :placeholder => "Search" %></th>
		<th><%= f.text_field :author_cont, :class => "form-control", :placeholder => "Search" %></th>
		<th><%= f.text_field :book_professors_professor_name_cont, :class => "form-control", :placeholder => "Search" %></th>
		<th><%= f.text_field :book_courses_course_name_cont, :class => "form-control", :placeholder => "Search" %></th>
		<th><%= f.text_field :book_courses_course_department_name_cont, :class => "form-control", :placeholder => "Search" %></th>
	<%= f.submit :class => "table_view_button" %>
	<% end %>
	</tr>
	<% @books.each do |book| %>
	<tr>
		<td><a href="/books/<%= book.id %>"><%= book.title %></a></td>
		<td><%= book.author %></td>
		<% @professor_list = BookProfessor.where(book_id: book.id) %>
		<td>
		<% @prof_array = [] %>
		<% @professor_list.each do |professor| %>
		<% @prof_array.append(professor.professor.name) %>
		<% end %>
		<%= @prof_array.join(", ") %>
		</td>
		<% @course_list = BookCourse.where(book_id: book.id) %>
		<td>
		<% @course_array = [] %>
		<% @course_list.each do |course| %>
		<% @course_array.append(course.course.name) %>
		<% end %>
		<%= @course_array.join(", ") %>
		</td>
		<td>
		<% @department_array = [] %>
		<% @course_list.each do |course| %>
		<% @department_array.append(course.course.department.name) %>
		<% end %>
		<%= @department_array.join(", ") %>
		</td>
	</tr>
	<% end %>
</table>